
.image-wrapper{
  width:200px;
  margin: 6px 6px;
  border-radius:25px;
  /* display: inline; */
  
}
span{
   display: block;
}
.container-wrapper{
  clear: both;
  font-size: 0;
  width: 100%;
}
.container{
  display: inline-block;
  vertical-align: middle;
  width:33%;
  font-size: initial;
}
.search-wrapper{
  /* float: right; */
  width:200px;
  height: 30px;
  /* margin-right: 14%; */
}
.search-position-wrapper{
 
}
.button-wrapper{
  /* width:35px; */
}